<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>links</title>
</head>
<body>
    <%- include("partials/nav") %>
    <h1><% for( let index = 0; index < links.length; index++ ) { %>
        <!-- <%= links[index].name %> -->
        <!-- <%= links[index].url %></br> -->
        <a href=<%= links[index].url %>"><%= links[index].name %></a><br>
        <% } %>
          </h1>
</body>
</html>